<%- include ("./partials/_header") %>

<div class="container">
    <br>
    <h1 class="text-center"><%= board.boardName %></h1>
    <br>
    <div class="row">
        <div class="col-sm">
            <h2 class="text-center">To do</h2>
            <ul class="list-group list-group-flush">
                <% for (var i = 0; i < todo.length; i++) { %>
                    <li class="list-group-item">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><%= todo[i].title %></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><%= todo[i].authorId %></h6>
                                <p class="card-text"><%= todo[i].description %></p>
                                <a href="#" class="card-link">Edit</a>
                            </div>
                        </div>
                    </li>
                <% } %> 
                <li class="list-group-item">
                    <p class="text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTaskTodoModal">
                            New task
                        </button>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <h2 class="text-center">In progress</h2>
            <ul class="list-group list-group-flush">
                <% for (var i = 0; i < inprogress.length; i++) { %>
                    <li class="list-group-item">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><%= inprogress[i].Title %></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><%= inprogress[i].authorId %></h6>
                                <p class="card-text"><%= inprogress[i].Description %></p>
                                <a href="#" class="card-link">Edit</a>
                            </div>
                        </div>
                    </li>
                <% } %> 
                <li class="list-group-item">
                    <p class="text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTaskInprogressModal">
                            New task
                        </button>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <h2 class="text-center">Done</h2>
            <ul class="list-group list-group-flush">
                <% for (var i = 0; i < done.length; i++) { %>
                    <li class="list-group-item">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><%= done[i].Title %></h5>
                                <h6 class="card-subtitle mb-2 text-muted"><%= done[i].authorId %></h6>
                                <p class="card-text"><%= done[i].Description %></p>
                                <a href="#" class="card-link">Edit</a>
                            </div>
                        </div>
                    </li>
                <% } %> 
                <li class="list-group-item">
                    <p class="text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTaskDoneModal">
                            New task
                        </button>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="newTaskTodoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form action="/" method="GET">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Task title</label>
                        <input name="title" type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="newTaskInprogressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newTaskDoneModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<%- include ("./partials/_footer") %>