<%- include ("./partials/_header") %>

<div class="container">
    <ul class="list-group list-group-flush">
        <% for (var i = 0; i < users.length; i++) { %>
            <li class="list-group-item border-0">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item col-sm-3"><img alt="Profile picture" style='height: 100%; width: 100%; object-fit: contain' src="<%=users[i].image%>"></li>
                    <li class="list-group-item col-sm-9">
                        <h6><%=users[i].name%></h6>
                        <p><%=users[i].email%></p>
                        <a href="/users/<%=users[i]._id%>">Profile</a>
                    </li>
                </ul>
            </li>
        <% } %>
    </ul>
</div>

<%- include ("./partials/_footer") %>